<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ScadaEntities" connectionString="metadata=res://*/Model.Scada_DB.csdl|res://*/Model.Scada_DB.ssdl|res://*/Model.Scada_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CYDEUS\SON;initial catalog=Scada;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>